<%- include('../layouts/header.ejs') -%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="container mt-4 mb-5 bg-primary">
        <div class=" row d-flex cart align-items-center justify-content-center " style=" min-height: 600px;">
            <div class="col-md-10">
                <div class="card bg-dark">

                    <div class="row g-0">
                        <div class="col-md-12 border-right p-5">
                            <div class="text-center order-details">
                                <div class="d-flex justify-content-center mb-5 flex-column align-items-center ">
                                    <span class="check1"><i class="fa-sharp fa-solid fa-xmark text-danger"
                                            style="font-size: xxx-large;"></i></span>
                                    <span class="font-weight-bold text-danger">Oops!!! Order Cancelled</span>
                                    <small class="mt-4 mb-4">Your Order is Failed..!!</small>

                                </div> <a href="/checkOut" class="btn btn-primary btn-block order-button text-dark">Go
                                    to checkout
                                </a>
                            </div>
                        </div>

                    </div>
                    <div> </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer.ejs') -%>